## IMPORTING NECCESARY

In [38]:
import pandas as pd
import requests

## OBTAINING DATA WITH API OF QUALITY OF AIR

In [44]:
response = requests.get("/egob.www.datos.madrid.es")

MissingSchema: Invalid URL '/egob.www.datos.madrid.es': No schema supplied. Perhaps you meant http:///egob.www.datos.madrid.es?

## DATA ANALISIS AND DATA CLEANING

In [2]:
p_19 = pd.read_csv('./data/Indicadores_2019.csv', sep = ';')

In [3]:
p_20 = pd.read_csv('./data/Indicadores_2020.csv', sep = ';')

In [4]:
p_21 = pd.read_csv('./data/Indicadores_2021.csv', sep = ';')

In [5]:
p_19.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2019,1,18.0,V,20.0,...,15.0,V,15.0,V,15.0,V,14.0,V,14.0,V
1,28,79,4,1,28079004_1_38,2019,2,13.0,V,13.0,...,19.0,V,20.0,V,0.0,N,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2019,3,18.0,V,18.0,...,6.0,V,7.0,V,6.0,V,4.0,V,4.0,V
3,28,79,4,1,28079004_1_38,2019,4,3.0,V,4.0,...,3.0,V,2.0,V,2.0,V,2.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2019,5,1.0,V,1.0,...,2.0,V,1.0,V,1.0,V,1.0,V,2.0,V

In [6]:
p_20.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2020,1,9.0,V,10.0,...,0.0,N,0.0,N,0.0,N,6.0,N,7.0,V
1,28,79,4,1,28079004_1_38,2020,2,8.0,V,9.0,...,9.0,V,11.0,V,1.0,N,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2020,3,0.0,N,3.0,...,0.0,N,0.0,N,0.0,N,0.0,N,0.0,N
3,28,79,4,1,28079004_1_38,2020,4,0.0,N,0.0,...,0.0,N,0.0,N,14.0,N,8.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2020,5,5.0,V,4.0,...,4.0,V,4.0,V,4.0,V,4.0,V,4.0,V

In [7]:
p_21.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2021,1,5.0,V,5.0,...,3.0,N,0.0,N,0.0,N,0.0,N,0.0,N
1,28,79,4,1,28079004_1_38,2021,2,10.0,N,11.0,...,9.0,V,9.0,V,0.0,N,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2021,3,10.0,V,10.0,...,9.0,V,9.0,V,10.0,V,10.0,V,10.0,V
3,28,79,4,1,28079004_1_38,2021,4,9.0,V,10.0,...,12.0,V,12.0,V,11.0,V,11.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2021,5,11.0,V,11.0,...,10.0,V,9.0,V,9.0,V,9.0,V,9.0,V

In [8]:
p_19.columns

Index(['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'MAGNITUD', 'PUNTO_MUESTREO',
       'ANO', 'MES', 'D01', 'V01', 'D02', 'V02', 'D03', 'V03', 'D04', 'V04',
       'D05', 'V05', 'D06', 'V06', 'D07', 'V07', 'D08', 'V08', 'D09', 'V09',
       'D10', 'V10', 'D11', 'V11', 'D12', 'V12', 'D13', 'V13', 'D14', 'V14',
       'D15', 'V15', 'D16', 'V16', 'D17', 'V17', 'D18', 'V18', 'D19', 'V19',
       'D20', 'V20', 'D21', 'V21', 'D22', 'V22', 'D23', 'V23', 'D24', 'V24',
       'D25', 'V25', 'D26', 'V26', 'D27', 'V27', 'D28', 'V28', 'D29', 'V29',
       'D30', 'V30', 'D31', 'V31'],
      dtype='object')

In [9]:
p_19.MAGNITUD.unique()

array([ 1,  6,  7,  8, 12,  9, 10, 14, 20, 30, 35, 42, 43, 44])

In [10]:
p_19.PROVINCIA.unique()

array([28])

In [11]:
p_19.ESTACION.unique()

array([ 4,  8, 11, 16, 17, 18, 24, 27, 35, 36, 38, 39, 40, 47, 48, 49, 50,
       54, 55, 56, 57, 58, 59, 60])

In [22]:
m_t_e_19 = pd.read_excel('./data/matriculaciones_2019_anuario.xlsx', sheet_name = 'M_TUR_MEDIO', header = 2)
m_t_e_19.head()

         PROVINCIAS  CERO     B      C   ECO  Sin\ndistintivo  Se\ndesconoce
0       Araba/Álava    46   125   6356   632               54            507
1          Albacete    28   207   5245   518               41           1482
2  Alicante/Alacant   242  3202  69867  4106              896           5997
3           Almería    23  1004   8490   854              288             30
4             Ávila    17    47   1205   211               29              8

In [23]:
m_t_e_18 = pd.read_excel('./data/matriculaciones_2018_anuario.xlsx', sheet_name = 'M_TUR_MEDIO', header = 2)
m_t_e_18.head()

         PROVINCIAS  CERO     B      C   ECO  Sin\ndistintivo  Se\ndesconoce
0       Araba/Álava    47   191   6669   499               60            686
1          Albacete    20   298   6025   358               59            525
2  Alicante/Alacant   172  3649  74116  2542              783           4262
3           Almería    27  1084   9978   626              274             24
4             Ávila    13    42   1645   176               17             13

In [24]:
m_t_e_17 = pd.read_excel('./data/matriculaciones_2017_anuario.xlsx', sheet_name = 'M_TUR_MEDIO', header = 2)
m_t_e_17.head()

         PROVINCIAS  CERO     B      C   ECO  Sin\ndistintivo  Se\ndesconoce
0       Araba/Álava    36   171   6600   364               80            622
1          Albacete    11   191   5651   287              299            399
2  Alicante/Alacant    87  3372  66519  1752             1147           5650
3           Almería    20  1074  10376   449              351             33
4             Ávila     9    48   1401   137               26             17

In [27]:
m_m_e_19 = pd.read_excel('./data/matriculaciones_2019_anuario.xlsx', sheet_name = 'M_MOTO_MEDIO', header = 2)
m_m_e_19.head()

         PROVINCIAS  CERO   B     C  ECO  Sin\ndistintivo  Se\ndesconoce
0       Araba/Álava     2   0   505    1                4             15
1          Albacete     0   0   946    2               14             15
2  Alicante/Alacant    43  14  7346    3              276             81
3           Almería     4   2  1715    2               53             27
4             Ávila     3   0    93    0                8              4

In [29]:
m_m_e_18 = pd.read_excel('./data/matriculaciones_2018_anuario.xlsx', sheet_name = 'M_MOTO_MEDIO', header = 2)
m_m_e_18.head()

         PROVINCIAS  CERO   B     C  ECO  Sin\ndistintivo  Se\ndesconoce
0       Araba/Álava     3   2   502    3                2             10
1          Albacete     3   0   885    3                8             21
2  Alicante/Alacant    16  37  6852    3               92             52
3           Almería     8  18  1577    0               15             21
4             Ávila     0   1   134    0                1              5

In [26]:
m_m_e_17 = pd.read_excel('./data/matriculaciones_2017_anuario.xlsx', sheet_name = 'M_MOTO_MEDIO', header = 2)
m_m_e_17.head()

         PROVINCIAS  CERO   B     C  ECO  Sin\ndistintivo  Se\ndesconoce
0       Araba/Álava     2   0   444    1               28              2
1          Albacete     0   1   650    0               78              2
2  Alicante/Alacant    12  52  5572    3              433             19
3           Almería     0   7  1085    0               92              4
4             Ávila     0   5   120    0               18              3

### Explicación Magnitudes:
Abreviatura o fórmula
Unidad medida
Técnica de medida
- 01 Dióxido de Azufre (SO2) μg/m 3 Fluorescencia ultravioleta
- 06 Monóxido de Carbono (CO) mg/m3 48 Absorción infrarroja
- 07 Monóxido de Nitrógeno (NO) μg/m3 08 Quimioluminiscencia
- 08 Dióxido de Nitrógeno (NO2) μg/m 3 08 Id.
- 09 Partículas < 2.5 μm PM2.5 μg/m3 47 Microbalanza
- 10 Partículas < 10 μm PM10 μg/m3 47 Id.
- 12 Óxidos de Nitrógeno NOx μg/m3 08 Quimioluminiscencia
- 14 Ozono O3μg/m 3 06 Absorción ultravioleta
- 20 Tolueno TOL μg/m3 59 Cromatografía de gases
- 30 Benceno BEN μg/m3 59 Id.
- 35 // Etilbenceno // EBE
μg/m3
59
Id.
37
Metaxileno
MXY
μg/m3
59
Id.
38
Paraxileno
PXY
μg/m3
59
Id.
39
Ortoxileno
OXY
μg/m3
59
Id.
42
Hidrocarburos totales (hexano)
TCH
mg/m3
02
Ionización de llama
43
Metano
CH4
mg/m3
02
Id.

In [37]:
magnitudes = pd.read_excel('./data/magnitudes_unidades_tecnicas.xlsx', header = 0)
magnitudes

,Codigo,Magnitud,Abreviatura o fórmula,Unidad medida,Técnica de medida
0,1,Dióxido de Azufre,SO2,μg/m 3,Fluorescencia ultravioleta
1,6,Monóxido de Carbono,CO,mg/m3,Absorción infrarroja
2,7,Monóxido de Nitrógeno,NO,μg/m3,Quimioluminiscencia
3,8,Dióxido de Nitrógeno,NO2,μg/m 3,Id.
4,9,Partículas < 2.5 μm,PM2.5,μg/m3,Microbalanza
5,10,Partículas < 10 μm,PM10,μg/m3,Id.
6,12,Óxidos de Nitrógeno,NOx,μg/m3,Quimioluminiscencia
7,14,Ozono,O3,μg/m 3,Absorción ultravioleta
8,20,Tolueno,TOL,μg/m3,Cromatografía de gases
9,30,Benceno,BEN,μg/m3,Id.
10,35,Etilbenceno,EBE,μg/m3,Id.
11,37,Metaxileno,MXY,μg/m3,Id.
12,38,Paraxileno,PXY,μg/m3,Id.
13,39,Ortoxileno,OXY,μg/m3,Id.
14,42,Hidrocarburos totales (hexano),TCH,mg/m3,Ionización de llama
15,43,Metano,CH4,mg/m3,Id.
16,44,Hidrocarburos no metánicos (hexano),NMHC,mg/m3,Id.