## IMPORTING NECCESARY LIBRARIES

In [1]:
import pandas as pd
import requests
import json
import re
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#def concatenar():

### MEASURED MAGNITUDES

To interpret the data of air quality, obtained from the Ministry for the Ecological Transition, we first have download some explanatory tables.

In [3]:
magnitudes_esp = pd.read_excel('./data/data_aire_esp/estacionesymagnitudes_2018_tcm30-501408.xlsx',sheet_name="Magnitudes",  header = 0)

In [4]:
magnitudes_esp.columns = ['Codigo', 'Magnitud', 'Abreviatura o fórmula', 'Unidad medida', 'Técnica de medida']

In [5]:
magnitudes_esp = magnitudes_esp.drop('Técnica de medida', axis= 'columns')

In [6]:
magnitudes_esp['Magnitud'] = magnitudes_esp['Magnitud'].str.lower()
magnitudes_esp['Magnitud'] = magnitudes_esp['Magnitud'].str.capitalize()

In [7]:
magnitudes_esp.shape

(14, 4)

In [8]:
magnitudes_mad = pd.read_excel('./data/magnitudes_unidades_tecnicas.xlsx', header = 0)

In [9]:
magnitudes_mad.columns = ['Codigo', 'Magnitud', 'Abreviatura o fórmula', 'Unidad medida', 'Técnica de medida']

In [10]:
magnitudes_mad = magnitudes_mad.drop('Técnica de medida', axis= 'columns')

In [11]:
magnitudes_mad.shape

(17, 4)

In [12]:
magnitudes = [magnitudes_esp, magnitudes_mad]
mags = pd.concat(magnitudes)
mags = mags.drop_duplicates('Codigo')

In [13]:
mags.shape

(22, 4)

## DATA SPAIN

This data comes from the Ministerio Para la Transición Ecológica.
There is a dataset for each year and chemical element.

#### 2015 DATA

In [14]:
As_15esp = pd.read_excel('./data/data_aire_esp/datos2015_tcm30-425989/As_DD_2015.xlsx')

In [15]:
BaP_15esp = pd.read_excel('./data/data_aire_esp/datos2015_tcm30-425989/B(a)P_DD_2015.xlsx')

In [16]:
Cd_15esp = pd.read_excel('./data/data_aire_esp/datos2015_tcm30-425989/Cd_DD_2015.xlsx')

In [17]:
Ni_15esp = pd.read_excel('./data/data_aire_esp/datos2015_tcm30-425989/Ni_DD_2015.xlsx')

In [18]:
Pb_15esp = pd.read_excel('./data/data_aire_esp/datos2015_tcm30-425989/Pb_DD_2015.xlsx')

In [19]:
Pm25_15esp = pd.read_excel('./data/data_aire_esp/datos2015_tcm30-425989/PM2.5_DD_2015.xlsx')

In [20]:
Pm10_15esp = pd.read_excel('./data/data_aire_esp/datos2015_tcm30-425989/PM10_DD_2015.xlsx')

In [21]:
to_concat_15 = [As_15esp, BaP_15esp, Cd_15esp, Ni_15esp, Pb_15esp, Pm10_15esp, Pm25_15esp]
data_15_esp = pd.concat(to_concat_15, ignore_index = True)

In [22]:
data_15_esp.shape

(9399, 38)

#### 2016 DATA

In [23]:
As_16esp = pd.read_excel('./data/data_aire_esp/dd_2016_tcm30/As_DD_2016.xlsx')

In [24]:
BaP_16esp = pd.read_excel('./data/data_aire_esp/dd_2016_tcm30/B(a)P_DD_2016.xlsx')

In [25]:
Cd_16esp = pd.read_excel('./data/data_aire_esp/dd_2016_tcm30/Cd_DD_2016.xlsx')

In [26]:
Ni_16esp = pd.read_excel('./data/data_aire_esp/dd_2016_tcm30/Ni_DD_2016.xlsx')

In [27]:
Pb_16esp = pd.read_excel('./data/data_aire_esp/dd_2016_tcm30/Pb_DD_2016.xlsx')

In [28]:
PM10_16esp = pd.read_excel('./data/data_aire_esp/dd_2016_tcm30/PM10_DD_2016.xlsx')

In [29]:
PM25_16esp = pd.read_excel('./data/data_aire_esp/dd_2016_tcm30/PM25_DD_2016.xlsx')

In [30]:
to_concat_16 = [As_16esp, BaP_16esp, Cd_16esp, Ni_16esp, Pb_16esp, PM10_16esp, PM25_16esp]
data_16_esp = pd.concat(to_concat_16, ignore_index = True)

In [31]:
data_16_esp.shape

(8708, 38)

#### 2017 DATA

In [32]:
As_17esp = pd.read_csv('./data/data_aire_esp/dd_2017_tcm30-481444/As_DD_2017.csv', sep = ';')

In [33]:
BaP_17esp = pd.read_csv('./data/data_aire_esp/dd_2017_tcm30-481444/B(a)P_DD_2017.csv', sep = ';')

In [34]:
Cd_17esp = pd.read_csv('./data/data_aire_esp/dd_2017_tcm30-481444/Cd_DD_2017.csv', sep = ';')

In [35]:
Ni_17esp = pd.read_csv('./data/data_aire_esp/dd_2017_tcm30-481444/Ni_DD_2017.csv', sep = ';')

In [36]:
Pb_17esp = pd.read_csv('./data/data_aire_esp/dd_2017_tcm30-481444/Pb_DD_2017.csv', sep = ';')

In [37]:
PM25_17esp = pd.read_csv('./data/data_aire_esp/dd_2017_tcm30-481444/PM2.5_DD_2017.csv', sep = ';')

In [38]:
PM10_17esp = pd.read_csv('./data/data_aire_esp/dd_2017_tcm30-481444/PM10_DD_2017.csv', sep = ';')

In [39]:
to_concat_17 = [As_17esp, BaP_17esp, Cd_17esp, Ni_17esp, Pb_17esp, PM10_17esp, PM25_17esp]
data_17_esp = pd.concat(to_concat_17, ignore_index = True)

In [40]:
data_17_esp.shape

(14653, 38)

#### 2018 DATA

In [41]:
As_18esp = pd.read_csv('./data/data_aire_esp/dd_2018_tcm30-501405/As_DD_2018.csv', sep = ';')

In [42]:
BAP_18esp = pd.read_csv('./data/data_aire_esp/dd_2018_tcm30-501405/B(a)P_DD_2018.csv', sep = ';')

In [43]:
Cd_18esp = pd.read_csv('./data/data_aire_esp/dd_2018_tcm30-501405/Cd_DD_2018.csv', sep = ';')

In [44]:
Ni_18esp = pd.read_csv('./data/data_aire_esp/dd_2018_tcm30-501405/Ni_DD_2018.csv', sep = ';')

In [45]:
Pb_18esp = pd.read_csv('./data/data_aire_esp/dd_2018_tcm30-501405/Pb_DD_2018.csv', sep = ';')

In [46]:
PM25_18esp = pd.read_csv('./data/data_aire_esp/dd_2018_tcm30-501405/PM2.5_DD_2018.csv', sep = ';')

In [47]:
PM10_18esp = pd.read_csv('./data/data_aire_esp/dd_2018_tcm30-501405/PM10_DD_2018.csv', sep = ';')

In [48]:
to_concat_18 = [As_18esp, BAP_18esp, Cd_18esp, Ni_18esp, Pb_18esp, PM10_18esp, PM25_18esp]
data_18_esp = pd.concat(to_concat_18, ignore_index = True)

In [49]:
data_18_esp.shape

(15058, 38)

#### 2019 DATA

In [50]:
As_19esp = pd.read_csv('./data/data_aire_esp/diarios_2019_tcm30-513558/As_DD_2019.csv', sep = ';')

In [51]:
Bap_19esp = pd.read_csv('./data/data_aire_esp/diarios_2019_tcm30-513558/Bap_DD_2019.csv', sep = ';')

In [52]:
C6H6_19esp = pd.read_csv('./data/data_aire_esp/diarios_2019_tcm30-513558/C6H6_DD_2019.csv', sep = ';')

In [53]:
Cd_19esp = pd.read_csv('./data/data_aire_esp/diarios_2019_tcm30-513558/Cd_DD_2019.csv', sep = ';')

In [54]:
Ni_19esp = pd.read_csv('./data/data_aire_esp/diarios_2019_tcm30-513558/Ni_DD_2019.csv', sep = ';')

In [55]:
Pb_19esp = pd.read_csv('./data/data_aire_esp/diarios_2019_tcm30-513558/Pb_DD_2019.csv', sep = ';')

In [56]:
PM10_19esp = pd.read_csv('./data/data_aire_esp/diarios_2019_tcm30-513558/PM10_DD_2019.csv', sep = ';')

In [57]:
PM25_19esp = pd.read_csv('./data/data_aire_esp/diarios_2019_tcm30-513558/PM25_DD_2019.csv', sep = ';')

In [58]:
to_concat_19 = [As_19esp, Bap_19esp, C6H6_19esp, Cd_19esp, Ni_19esp, Pb_19esp, PM10_19esp, PM25_19esp]

In [59]:
data_19_esp = pd.concat(to_concat_19, ignore_index = True)

In [60]:
data_19_esp.shape

(9892, 38)

We concatenate first the tables from 2017, 2018, and 2019 since it is from were we have data of matriculations.
Then we concatenate all tables to visualize the evolution of pollution.

In [61]:
to_concat = [data_17_esp, data_18_esp, data_19_esp]
data_esp_ana = pd.concat(to_concat, ignore_index = True)
data_esp_ana.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39603 entries, 0 to 39602
Data columns (total 38 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       39603 non-null  int64
 1   MUNICIPIO       39603 non-null  int64
 2   ESTACION        39603 non-null  int64
 3   MAGNITUD        39603 non-null  int64
 4   PUNTO_MUESTREO  39603 non-null  object
 5   ANNO            39603 non-null  int64
 6   MES             39603 non-null  int64
 7   D01             19543 non-null  float64
 8   D02             20065 non-null  float64
 9   D03             20328 non-null  float64
 10  D04             20336 non-null  float64
 11  D05             20286 non-null  float64
 12  D06             19762 non-null  float64
 13  D07             20298 non-null  float64
 14  D08             20097 non-null  float64
 15  D09             20325 non-null  float64
 16  D10             20725 non-null  float64
 17  D11             20772 non-null  float64
 18  D12             20665 non-null  float64
 19  D13             20644 non-null  float64
 20  D14             20762 non-null  float64
 21  D15             20659 non-null  float64
 22  D16             20950 non-null  float64
 23  D17             20761 non-null  float64
 24  D18             20314 non-null  float64
 25  D19             20757 non-null  float64
 26  D20             20821 non-null  float64
 27  D21             20572 non-null  float64
 28  D22             20742 non-null  float64
 29  D23             20757 non-null  float64
 30  D24             20119 non-null  float64
 31  D25             19918 non-null  float64
 32  D26             20539 non-null  float64
 33  D27             20178 non-null  float64
 34  D28             20175 non-null  float64
 35  D29             18684 non-null  float64
 36  D30             18238 non-null  float64
 37  D31             11199 non-null  float64
dtypes: float64(31), int64(6), object(1)
memory usage: 11.5+ MB

In [62]:
percent_missing = data_esp_ana.isnull().sum() * 100 / len(data_esp_ana)
missing_value_df = pd.DataFrame({'column_name': data_esp_ana.columns, 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True, ascending = False)
missing_value_df

                   column_name  percent_missing
D31                        D31        71.721839
D30                        D30        53.947933
D29                        D29        52.821756
D01                        D01        50.652728
D06                        D06        50.099740
D25                        D25        49.705830
D02                        D02        49.334646
D08                        D08        49.253844
D24                        D24        49.198293
D28                        D28        49.056890
D27                        D27        49.049314
D05                        D05        48.776608
D07                        D07        48.746307
D18                        D18        48.705906
D09                        D09        48.678130
D03                        D03        48.670555
D04                        D04        48.650355
D26                        D26        48.137767
D21                        D21        48.054440
D13                        D13        47.872636
D15                        D15        47.834760
D12                        D12        47.819610
D10                        D10        47.668106
D22                        D22        47.625180
D23                        D23        47.587304
D19                        D19        47.587304
D17                        D17        47.577204
D14                        D14        47.574679
D11                        D11        47.549428
D20                        D20        47.425700
D16                        D16        47.099967
MUNICIPIO            MUNICIPIO         0.000000
MES                        MES         0.000000
ANNO                      ANNO         0.000000
PUNTO_MUESTREO  PUNTO_MUESTREO         0.000000
MAGNITUD              MAGNITUD         0.000000
ESTACION              ESTACION         0.000000
PROVINCIA            PROVINCIA         0.000000

In [63]:
to_concat = [data_15_esp, data_16_esp, data_17_esp, data_18_esp, data_19_esp]
data_esp_tot = pd.concat(to_concat, ignore_index = False)
data_esp_tot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57710 entries, 0 to 9891
Data columns (total 38 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       57710 non-null  int64
 1   MUNICIPIO       57710 non-null  int64
 2   ESTACION        57710 non-null  int64
 3   MAGNITUD        57710 non-null  int64
 4   PUNTO_MUESTREO  57710 non-null  object
 5   ANNO            57710 non-null  int64
 6   MES             57710 non-null  int64
 7   D01             25888 non-null  float64
 8   D02             27418 non-null  float64
 9   D03             27280 non-null  float64
 10  D04             27071 non-null  float64
 11  D05             27085 non-null  float64
 12  D06             26363 non-null  float64
 13  D07             27238 non-null  float64
 14  D08             26950 non-null  float64
 15  D09             27563 non-null  float64
 16  D10             27898 non-null  float64
 17  D11             27812 non-null  float64
 18  D12             28067 non-null  float64
 19  D13             27639 non-null  float64
 20  D14             28196 non-null  float64
 21  D15             28056 non-null  float64
 22  D16             28134 non-null  float64
 23  D17             27906 non-null  float64
 24  D18             27522 non-null  float64
 25  D19             27920 non-null  float64
 26  D20             28076 non-null  float64
 27  D21             28046 non-null  float64
 28  D22             27805 non-null  float64
 29  D23             27877 non-null  float64
 30  D24             26918 non-null  float64
 31  D25             26664 non-null  float64
 32  D26             27537 non-null  float64
 33  D27             27239 non-null  float64
 34  D28             27155 non-null  float64
 35  D29             25158 non-null  float64
 36  D30             24736 non-null  float64
 37  D31             14743 non-null  float64
dtypes: float64(31), int64(6), object(1)
memory usage: 17.2+ MB

In [64]:
percent_missing = data_esp_tot.isnull().sum() * 100 / len(data_esp_tot)
missing_value_df = pd.DataFrame({'column_name': data_esp_tot.columns, 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True, ascending = False)
missing_value_df

                   column_name  percent_missing
D31                        D31        74.453301
D30                        D30        57.137411
D29                        D29        56.406169
D01                        D01        55.141223
D06                        D06        54.318142
D25                        D25        53.796569
D24                        D24        53.356437
D08                        D08        53.300988
D04                        D04        53.091319
D05                        D05        53.067059
D28                        D28        52.945763
D07                        D07        52.801941
D27                        D27        52.800208
D03                        D03        52.729163
D02                        D02        52.490036
D18                        D18        52.309825
D26                        D26        52.283833
D09                        D09        52.238780
D13                        D13        52.107087
D22                        D22        51.819442
D11                        D11        51.807312
D23                        D23        51.694680
D10                        D10        51.658291
D17                        D17        51.644429
D19                        D19        51.620170
D21                        D21        51.401837
D15                        D15        51.384509
D12                        D12        51.365448
D20                        D20        51.349853
D16                        D16        51.249350
D14                        D14        51.141916
PUNTO_MUESTREO  PUNTO_MUESTREO         0.000000
ESTACION              ESTACION         0.000000
MAGNITUD              MAGNITUD         0.000000
MUNICIPIO            MUNICIPIO         0.000000
ANNO                      ANNO         0.000000
MES                        MES         0.000000
PROVINCIA            PROVINCIA         0.000000

There is a lot of missing values in both dataframes, but since we are going to work with the mean of the days, there is no problem with so much nulls. Obviusly there is more nulls in the column D31, since nor all months have 31 days.

#### We add a cloumn with the mean of the day, to both DFs:

In [65]:
l_dias = ['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08','D09', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'D16', 'D17', 'D18', 'D19', 'D20', 'D21', 'D22', 'D23', 'D24', 'D25', 'D26', 'D27', 'D28','D29', 'D30', 'D31']

In [66]:
data_esp_tot['MEDIA_MAGS'] = data_esp_tot[l_dias].mean(axis = 1, skipna = True)
data_esp_tot.drop(l_dias, axis='columns', inplace=True)
data_esp_tot = data_esp_tot[data_esp_tot['MEDIA_MAGS'].notna()]

In [67]:
data_esp_tot['PUNTO_MUESTREO'] = data_esp_tot['PUNTO_MUESTREO'].str.replace(r'_{1}\w*$', '')
data_esp_tot['PUNTO_MUESTREO'] = data_esp_tot['PUNTO_MUESTREO'].str.replace(r'^0', '')

<ipython-input-67-c643db7f57cc>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data_esp_tot['PUNTO_MUESTREO'] = data_esp_tot['PUNTO_MUESTREO'].str.replace(r'_{1}\w*$', '')
<ipython-input-67-c643db7f57cc>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data_esp_tot['PUNTO_MUESTREO'] = data_esp_tot['PUNTO_MUESTREO'].str.replace(r'^0', '')

In [68]:
data_esp_tot.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,MEDIA_MAGS
0,1,59,9,17,1059009,2015,1,0.386194
1,1,59,9,17,1059009,2015,2,0.436321
2,1,59,9,17,1059009,2015,3,0.409000
3,1,59,9,17,1059009,2015,4,0.313067
4,1,59,9,17,1059009,2015,5,0.266032

In [69]:
data_esp_tot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53934 entries, 0 to 9891
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       53934 non-null  int64
 1   MUNICIPIO       53934 non-null  int64
 2   ESTACION        53934 non-null  int64
 3   MAGNITUD        53934 non-null  int64
 4   PUNTO_MUESTREO  53934 non-null  object
 5   ANNO            53934 non-null  int64
 6   MES             53934 non-null  int64
 7   MEDIA_MAGS      53934 non-null  float64
dtypes: float64(1), int64(6), object(1)
memory usage: 3.7+ MB

In [70]:
data_esp_ana['MEDIA_MAGS'] = data_esp_ana[l_dias].mean(axis = 1, skipna = True)
data_esp_ana.drop(l_dias, axis='columns', inplace=True)
data_esp_ana = data_esp_ana[data_esp_ana['MEDIA_MAGS'].notna()]

In [71]:
data_esp_ana['PUNTO_MUESTREO'] = data_esp_ana['PUNTO_MUESTREO'].str.replace(r'_{1}\w*$', '')
data_esp_ana['PUNTO_MUESTREO'] = data_esp_ana['PUNTO_MUESTREO'].str.replace(r'^0', '')

<ipython-input-71-6b565a575acc>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data_esp_ana['PUNTO_MUESTREO'] = data_esp_ana['PUNTO_MUESTREO'].str.replace(r'_{1}\w*$', '')
<ipython-input-71-6b565a575acc>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data_esp_ana['PUNTO_MUESTREO'] = data_esp_ana['PUNTO_MUESTREO'].str.replace(r'^0', '')

In [72]:
data_esp_ana.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36578 entries, 0 to 39602
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       36578 non-null  int64
 1   MUNICIPIO       36578 non-null  int64
 2   ESTACION        36578 non-null  int64
 3   MAGNITUD        36578 non-null  int64
 4   PUNTO_MUESTREO  36578 non-null  object
 5   ANNO            36578 non-null  int64
 6   MES             36578 non-null  int64
 7   MEDIA_MAGS      36578 non-null  float64
dtypes: float64(1), int64(6), object(1)
memory usage: 2.5+ MB

In [73]:
data_esp_ana.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,MEDIA_MAGS
0,46,131,2,17,46131002,2017,8,0.206667
2,3,2,2,17,3002002,2017,8,0.306250
3,3,133,2,17,3133002,2017,8,2.754167
4,12,135,4,17,12135004,2017,8,0.593333
5,46,250,43,17,46250043,2017,8,0.323333

## DATA MADRID

### OBTAINING DATA WITH API OF QUALITY OF AIR

Madrid's City as a more data on the air quality, so we obtain it trough an API to enrich our Data.

In [74]:
response = requests.get("https://datos.madrid.es/egob/catalogo/keyword/aire.json?_page=0")
print(response.status_code)

200

In [75]:
urlcomp = 'https://datos.madrid.es/egob/catalogo/201410-10306612-calidad-aire-diario.csv'
headers = {'authorization': "Basic API Key Ommitted", 'accept': "application/json", 'accept': "text/csv"}

In [76]:
rcomp = requests.get(urlcomp, headers=headers)
data_21 = rcomp.text

In [77]:
AirQ_21_Mad = pd.DataFrame([x.split(';') for x in data_21.split('\n')])

In [78]:
new_header = AirQ_21_Mad.iloc[0]
AirQ_21_Mad = AirQ_21_Mad[1:]
AirQ_21_Mad.columns = new_header

In [79]:
urlcomp = 'https://datos.madrid.es/egob/catalogo/201410-10306609-calidad-aire-diario.csv'
headers = {'authorization': "Basic API Key Ommitted", 'accept': "application/json", 'accept': "text/csv"}

In [80]:
rcomp = requests.get(urlcomp, headers=headers)
data_20 = rcomp.text

In [81]:
AirQ_20_Mad = pd.DataFrame([x.split(';') for x in data_20.split('\n')])

In [82]:
new_header = AirQ_20_Mad.iloc[0]
AirQ_20_Mad = AirQ_20_Mad[1:]
AirQ_20_Mad.columns = new_header

In [83]:
urlcomp = 'https://datos.madrid.es/egob/catalogo/201410-10306606-calidad-aire-diario.csv'
headers = {'authorization': "Basic API Key Ommitted", 'accept': "application/json", 'accept': "text/csv"}
rcomp = requests.get(urlcomp, headers=headers)
data_19 = rcomp.text

In [84]:
AirQ_19_Mad = pd.DataFrame([x.split(';') for x in data_19.split('\n')])

In [85]:
new_header = AirQ_19_Mad.iloc[0]
AirQ_19_Mad = AirQ_19_Mad[1:]
AirQ_19_Mad.columns = new_header

In [86]:
AirQ_19_Mad.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
1,28,079,4,1,28079004_1_38,2019,01,00018,V,00020,...,00015,V,00015,V,00015,V,00014,V,00014,V
2,28,079,4,1,28079004_1_38,2019,02,00013,V,00013,...,00019,V,00020,V,00000,N,00000,N,00000,N
3,28,079,4,1,28079004_1_38,2019,03,00018,V,00018,...,00006,V,00007,V,00006,V,00004,V,00004,V
4,28,079,4,1,28079004_1_38,2019,04,00003,V,00004,...,00003,V,00002,V,00002,V,00002,V,00000,N
5,28,079,4,1,28079004_1_38,2019,05,00001,V,00001,...,00002,V,00001,V,00001,V,00001,V,00002,V

In [87]:
dfdsfg

NameError: name 'dfdsfg' is not defined

In [ ]:
AirQ_20_Mad.head()

In [ ]:
AirQ_21_Mad.head()

In [ ]:
to_concat = [AirQ_21_Mad, AirQ_20_Mad, AirQ_19_Mad]
data_mad_19_20_21 = pd.concat(to_concat, ignore_index = True)

In [ ]:
data_mad_19_20_21.head()

In [ ]:
data_mad_19_20_21= data_mad_19_20_21.drop(data_mad_19_20_21.filter(regex='V\d').columns, axis=1)

In [ ]:
data_mad_19_20_21.info()

In [ ]:
l = ['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08','D09', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'D16', 'D17', 'D18', 'D19', 'D20', 'D21', 'D22', 'D23', 'D24', 'D25', 'D26', 'D27', 'D28','D29', 'D30', 'D31']
data_mad_19_20_21[l] = data_mad_19_20_21[l].apply(pd.to_numeric, errors='coerce')

In [ ]:
data_mad_19_20_21['MEDIA_VAL'] = data_mad_19_20_21[l].mean(axis = 1, skipna = True)

In [ ]:
data_mad_19_20_21 = data_mad_19_20_21[['PROVINCIA', 'ANO', 'MAGNITUD', 'PUNTO_MUESTREO', 'MES', 'MEDIA_VAL']].groupby(['PROVINCIA', 'ANO', 'MAGNITUD', 'MES', 'PUNTO_MUESTREO']).mean()

In [ ]:
data_mad_19_20_21

In [ ]:
data_mad_19_20_21.reset_index(level=0, inplace=True)
data_mad_19_20_21.reset_index(level=0, inplace=True)
data_mad_19_20_21.reset_index(level=0, inplace=True)
data_mad_19_20_21.reset_index(level=0, inplace=True)
data_mad_19_20_21.reset_index(level=0, inplace=True)

In [ ]:
data_mad_19_20_21['PUNTO_MUESTREO'] = data_mad_19_20_21['PUNTO_MUESTREO'].str.replace(r'_{1}\w*$', '')
data_mad_19_20_21['PUNTO_MUESTREO'] = data_mad_19_20_21['PUNTO_MUESTREO'].str.replace(r'^0', '')

In [ ]:
data_mad_19_20_21.head()

In [ ]:
est_mad = pd.read_csv('./data/data_aire_mad/Estaciones_mad.CSV', sep = ';')

In [ ]:
est_mad.columns

In [ ]:
#df_new = df.rename(columns={'A': 'Col_1'}, index={'ONE': 'Row_1'})
est_mad = est_mad.rename(columns= {'CODIGO':'PUNTO_MUESTREO'})
est_mad = est_mad.drop(['ESTACION', 'DIRECCION', 'ALTITUD', 'COD_TIPO', 'NOM_TIPO', 'NO2', 'SO2', 'CO', 'PM10', 'PM2_5', 'O3', 'BTX', 'COD_VIA', 'VIA_CLASE', 'VIA_PAR', 'VIA_NOMBRE', 'Fecha alta'], axis=1)
est_mad.head()

In [ ]:
est_mad.info()

In [ ]:
data_mad_19_20_21.info()

In [ ]:
data_mad_19_20_21.PUNTO_MUESTREO = data_mad_19_20_21.PUNTO_MUESTREO.apply(pd.to_numeric, errors='coerce')

In [ ]:
data_mad_19_20_21 = data_mad_19_20_21.merge(est_mad, on='PUNTO_MUESTREO', how='outer')

In [ ]:
data_mad_19_20_21.head()

In [ ]:
data_mad_19_20_21.MES.unique()

In [ ]:
lv = []
for i in range(1,10):
    lv.append(f'V0{i}')
for i in range(10, 32):
    lv.append(f'V{i}')

ld = []
for i in range(1,10):
    ld.append(f'D0{i}')
for i in range(10, 32):
    ld.append(f'D{i}')

In [ ]:
data_mad_19_20_21.head()

In [ ]:
data_mad_19_20_21

In [ ]:
AirQ_19_Mad.head()

In [ ]:
AirQ_19_Mad = AirQ_19_Mad.rename(columns = {'ANO': 'ANNO'}, inplace = False)

We use only the data of 2019, since there is still no more recent data available of matriculations.

### COMPLETE DATA FROM ESP AND MADRID

In [ ]:
to_concat = [data_tot_esp, AirQ_19_Mad]
data_tot_esp_mad19 = pd.concat(to_concat, ignore_index = True)

Dropping last column due to Nones:

In [ ]:
data_tot_esp_mad19.drop(data_tot_esp_mad19.tail(1).index,inplace=True) # drop last n rows
data_tot_esp_mad19

With Regex we eliminate the end of the str in 'PUNTO_MUESTREO' in order to have it in with the same structre as in the dataframe 'estaciones'. Also the '0' at the start of the string have to be eliminated.

In [ ]:
data_tot_esp_mad19['PUNTO_MUESTREO'] = data_tot_esp_mad19['PUNTO_MUESTREO'].str.replace(r'_{1}\w*$', '')
data_tot_esp_mad19['PUNTO_MUESTREO'] = data_tot_esp_mad19['PUNTO_MUESTREO'].str.replace(r'^0', '')

In [ ]:
data_tot_esp_mad19.info()

In [ ]:
l = ['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08','D09', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'D16', 'D17', 'D18', 'D19', 'D20', 'D21', 'D22', 'D23', 'D24', 'D25', 'D26', 'D27', 'D28','D29', 'D30', 'D31']
data_tot_esp_mad19[l] = data_tot_esp_mad19[l].apply(pd.to_numeric, errors='coerce')

In [ ]:
data_tot_esp_mad19['MEDIA_VAL'] = data_tot_esp_mad19[l].mean(axis = 1, skipna = True)

In [ ]:
data_tot_esp_mad19.dropna(subset=['MEDIA_VAL']).reset_index()

In [ ]:
air_q_tot = data_tot_esp_mad19[['PROVINCIA', 'ANNO', 'MAGNITUD', 'MES', 'MEDIA_VAL']].groupby(['PROVINCIA', 'ANNO', 'MAGNITUD', 'MES']).mean()

In [ ]:
air_q_tot.head()

In [ ]:
a_copy = air_q_tot.copy()

In [ ]:
a_copy.reset_index(level=0, inplace=True)
a_copy.reset_index(level=0, inplace=True)
a_copy.reset_index(level=0, inplace=True)
a_copy.reset_index(level=0, inplace=True)

In [ ]:
a_copy


### MEASUREMENT STATIONS

In [ ]:
estaciones15 = pd.read_excel('./data/data_aire_esp/datos2015_tcm30-425989/Estaciones y magnitudes evaluaci¢n 2015.xls', sheet_name = 'estaciones_evaluación_2015', header = 0)
estaciones15.info()
estaciones15.head()

In [ ]:
estaciones = pd.read_excel('./data/data_aire_esp/estacionesymagnitudes_2018_tcm30-501408.xlsx', sheet_name = 'Estaciones_evaluacion_2018', header = 0)
estaciones.info()
estaciones.head()

CARGAR DATOS DE ESTACIONES

## MATRICULATIONS DATA

### CAR MATRICULATIONS

In [ ]:
m_t_e_19 = pd.read_excel('./data/data_matriculaciones/matriculaciones_2019_a.xlsx', sheet_name = 'M_TUR_MEDIO', header = 2)
m_t_e_19['ANNO'] = 2019
m_t_e_19['VEHICULO'] = 'Turismo'
m_t_e_19.head()

In [ ]:
m_t_e_18 = pd.read_excel('./data/data_matriculaciones/matriculaciones_2018_a.xlsx', sheet_name = 'M_TUR_MEDIO', header = 2)
m_t_e_18['ANNO'] = 2018
m_t_e_18['VEHICULO'] = 'Turismo'
m_t_e_18.head()

In [ ]:
m_t_e_17 = pd.read_excel('./data/data_matriculaciones/matriculaciones_2017_a.xlsx', sheet_name = 'M_TUR_MEDIO', header = 2)
m_t_e_17['ANNO'] = 2017
m_t_e_17['VEHICULO'] = 'Turismo'
m_t_e_17.head()

### MOTORCICLE MATRICULATIONS

In [ ]:
m_m_e_19 = pd.read_excel('./data/data_matriculaciones/matriculaciones_2019_a.xlsx', sheet_name = 'M_MOTO_MEDIO', header = 2)
m_m_e_19['ANNO'] = 2019
m_m_e_19['VEHICULO'] = 'Moto'
m_m_e_19.head()

In [ ]:
m_m_e_18 = pd.read_excel('./data/data_matriculaciones/matriculaciones_2018_a.xlsx', sheet_name = 'M_MOTO_MEDIO', header = 2)
m_m_e_18['ANNO'] = 2018
m_m_e_18['VEHICULO'] = 'Moto'
m_m_e_18.head()

In [ ]:
m_m_e_17 = pd.read_excel('./data/data_matriculaciones/matriculaciones_2017_a.xlsx', sheet_name = 'M_MOTO_MEDIO', header = 2)
m_m_e_17['ANNO'] = 2017
m_m_e_17['VEHICULO'] = 'Moto'
m_m_e_17.head()

In [ ]:
to_concat = [m_t_e_19, m_t_e_18, m_t_e_17, m_m_e_19, m_m_e_18, m_m_e_19]
mat_tot = pd.concat(to_concat, ignore_index = True)
mat_tot = mat_tot.rename(columns = {'Sin\ndistintivo': 'Sin_distintivo', 'Se\ndesconoce': 'Se_desconoce' }, inplace = False)
mat_tot.head()

In [ ]:
mat_tot['MES'] = mat_tot.MES.astype(str)
mat_tot['MES'] = mat_tot['MES'].str.replace(r'.0$', '')
mat_tot['ANNO'] = mat_tot.ANNO.astype(str)
mat_tot.info()

In [ ]:
mat_tot['MES_ANNO'] = mat_tot['MES'] + "/" + mat_tot['ANNO']

In [ ]:
mat_tot.head()

In [ ]:
mat_tot.PROVINCIAS.unique()

In [ ]:
mat_tot_suma_años = mat_tot[['PROVINCIAS', 'CERO', 'ECO', 'B', 'C']].groupby(['PROVINCIAS']).sum()
mat_tot_suma_años.reset_index(level=0, inplace=True)

In [ ]:
mat_tot_suma_años['PROVINCIAS'] = mat_tot_suma_años['PROVINCIAS'].str.replace(r'Alicante/Alacant', 'Alicante') #Alicante
mat_tot_suma_años['PROVINCIAS'] = mat_tot_suma_años['PROVINCIAS'].str.replace(r'Araba/Álava', 'Álava')
mat_tot_suma_años['PROVINCIAS'] = mat_tot_suma_años['PROVINCIAS'].str.replace(r'Balears \WIlles\W', 'Baleares') #Islas Baleares
mat_tot_suma_años['PROVINCIAS'] = mat_tot_suma_años['PROVINCIAS'].str.replace(r'Bizkaia', 'Vizcaya')
mat_tot_suma_años['PROVINCIAS'] = mat_tot_suma_años['PROVINCIAS'].str.replace(r'Castellón/Castelló', 'Castelló') #Castellón
mat_tot_suma_años['PROVINCIAS'] = mat_tot_suma_años['PROVINCIAS'].str.replace(r'Coruña \WA\W', 'A Coruña') # La Coruña
mat_tot_suma_años['PROVINCIAS'] = mat_tot_suma_años['PROVINCIAS'].str.replace(r'Gipuzkoa', 'Guipúzcoa')
mat_tot_suma_años['PROVINCIAS'] = mat_tot_suma_años['PROVINCIAS'].str.replace(r'Rioja \WLa\W', 'La Rioja')
mat_tot_suma_años['PROVINCIAS'] = mat_tot_suma_años['PROVINCIAS'].str.replace(r'Valencia/València', 'Valencia')
#mat_tot_suma_años['PROVINCIAS'] = mat_tot_suma_años['PROVINCIAS'].str.replace(r'Girona', 'Gerona')
mat_tot_suma_años['PROVINCIAS'] = mat_tot_suma_años['PROVINCIAS'].str.replace(r'Palmas \WLas\W', 'Las Palmas')
# mat_tot_suma_años['PROVINCIAS'] = mat_tot_suma_años['PROVINCIAS'].str.replace(r'Ourense', 'Orense')

### DATA ESTACIONES

In [ ]:
estaciones['N_PROVINCIA'] = estaciones['N_PROVINCIA'].str.lower()
estaciones['N_PROVINCIA'] = estaciones['N_PROVINCIA'].str.capitalize()

In [ ]:
estaciones['N_PROVINCIA'] = estaciones['N_PROVINCIA'].str.replace(r'Álava', 'Araba/Álava')
estaciones['N_PROVINCIA'] = estaciones['N_PROVINCIA'].str.replace(r'Alicante/alacant', 'Alicante/Alacant')
estaciones['N_PROVINCIA'] = estaciones['N_PROVINCIA'].str.replace(r'Balears \W[a-z]+\W', 'Balears (Illes)')
estaciones['N_PROVINCIA'] = estaciones['N_PROVINCIA'].str.replace(r'Castellón/castelló', 'Castellón/Castelló')
estaciones['N_PROVINCIA'] = estaciones['N_PROVINCIA'].str.replace(r'Coruña \W[a-z]+\W', 'Coruña (A)')
estaciones['N_PROVINCIA'] = estaciones['N_PROVINCIA'].str.replace(r'Guipúzcoa', 'Gipuzkoa')
estaciones['N_PROVINCIA'] = estaciones['N_PROVINCIA'].str.replace(r'Rioja \W[a-z]+\W', 'Rioja (La)')
estaciones['N_PROVINCIA'] = estaciones['N_PROVINCIA'].str.replace(r'Palmas \W[a-z]+\W', 'Palmas (Las)')
estaciones['N_PROVINCIA'] = estaciones['N_PROVINCIA'].str.replace(r'Santa cruz de tenerife', 'Santa Cruz de Tenerife')
estaciones['N_PROVINCIA'] = estaciones['N_PROVINCIA'].str.replace(r'Valencia', 'Valencia/València')
estaciones['N_PROVINCIA'] = estaciones['N_PROVINCIA'].str.replace(r'Vizcaya', 'Bizkaia')

In [ ]:
estaciones.N_PROVINCIA.unique()

Sacando un diccionario con los numeros y las provincias

In [ ]:
num_pro = estaciones[['PROVINCIA', 'N_PROVINCIA']]
num_pro = num_pro.drop_duplicates()
num_pro.to_dict(orient = 'dict')
num_pro.rename(columns = {'N_PROVINCIA' : 'PROVINCIAS', 'PROVINCIA' : 'NUM_PROVINCIA'}, inplace = True)
num_pro.head()

In [ ]:
mat_tot_2 = mat_tot.merge(num_pro, on='PROVINCIAS', how='outer')

In [ ]:
mat_tot_2 = mat_tot.drop(['PROVINCIAS'], axis=1)

In [ ]:
mat_tot_2.rename(columns = {'NUM_PROVINCIA': 'PROVINCIA'}, inplace = True)
mat_tot_2.info()

In [ ]:
mat_tot_2.dropna(inplace=True)

In [ ]:
tabla_todo = a_copy.merge(mat_tot_2, on=('PROVINCIA', 'MES', 'ANNO'), how='outer')

In [ ]:
tabla_todo.MAGNITUD.unique()

In [ ]:
tabla_todo

In [ ]:
tabla_todo[["MES", "MAGNITUD", "ANNO", "PROVINCIA"]] = tabla_todo[["MES", "MAGNITUD", "ANNO", "PROVINCIA"]].apply(pd.to_numeric)

In [ ]:
tabla_todo.info()

In [ ]:
df.dropna(axis = 0, subset = col_lst, how = 'all', inplace = True)

In [ ]:
tabla_todo

In [ ]:
tabla_todo.to_csv('/Users/antoniomuro/Desktop/DATAMAD/Analysis_electric_cars_and_air_quality_in_Madrid/data/AirQ_and_Matriculations.csv', index = False)

In [ ]:
mat_tot.to_csv('/Users/antoniomuro/Desktop/DATAMAD/Analysis_electric_cars_and_air_quality_in_Madrid/data/Matriculations_17_18_19.csv', index = False)

In [ ]:
mags.to_csv('/Users/antoniomuro/Desktop/DATAMAD/Analysis_electric_cars_and_air_quality_in_Madrid/data/Leyenda_MAGS.csv', index = False)

In [ ]:
num_pro.to_csv('/Users/antoniomuro/Desktop/DATAMAD/Analysis_electric_cars_and_air_quality_in_Madrid/data/Leyenda_provs.csv', index = False)

In [ ]:
estaciones.to_csv('/Users/antoniomuro/Desktop/DATAMAD/Analysis_electric_cars_and_air_quality_in_Madrid/data/Leyenda_provs.csv', index = False)

In [ ]:
a_copy.to_csv('/Users/antoniomuro/Desktop/DATAMAD/Analysis_electric_cars_and_air_quality_in_Madrid/data/Resumen.csv', index = False)

In [ ]:
mat_tot_suma_años.to_csv('/Users/antoniomuro/Desktop/DATAMAD/Analysis_electric_cars_and_air_quality_in_Madrid/data/mat_tot2.csv', index = False)

In [ ]:
data_mad_19_20_21.to_csv('/Users/antoniomuro/Desktop/DATAMAD/Analysis_electric_cars_and_air_quality_in_Madrid/data/aire_mad_17_18_19.csv', index = False)

In [ ]:
mags.to_csv('/Users/antoniomuro/Desktop/DATAMAD/Analysis_electric_cars_and_air_quality_in_Madrid/data/Leyenda_Mags.csv', index = False)